<%
hero = "v1516292321/tag.jpg";
heroquote = 'the best of RoofTrain UK'
%>

<%- include('partials/head.html'); %>
<%- include('partials/header.html'); %>

<main>

  <h1>Pages tagged with <em>&ldquo;<%= title %>&rdquo;</em>:</h1>

  <%- include('partials/nav-child.html'); %>

</main>

<%- include('partials/accreditation.html'); %>

<%- include('partials/footer.html'); %>

<%- include('partials/nav.html'); %>

<%- include('partials/foot.html'); %>
